<div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="add-stratification">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="panel-heading box-header mg-0">
				<h2 class="panel-title">
					<span class="">
						Comments
					</span>
				</h2>
			</div>
			<div class="panel-body box-content pd-0">
				<div class="form-horizontal">
					<div class="col-md-12">
						<textarea class="form-control" rows="3" ng-model="comment"></textarea>
					</div>
				</div>
			</div>
			<div class="panel-footer box-footer text-right" style="padding: 5px 8px;">
				<button type="button" ng-click="continueAction()" class="btn btn-primary btn-xs" data-dismiss="modal">Continue</button>
				<button type="button" class="btn btn-default btn-xs" data-dismiss="modal">Cancel</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>